.student-info-card {
  border: solid white 1px;
  padding: 1rem;
}

.tt-levels__page-break {
  border-top: 2px dotted;
  width: 100%;
  margin: 0.5rem 0;
}

.level-title__description {
  margin: 0.5rem 0 0 0;
  font-size: .875rem;
}
