.student-info-card {
  border: solid white 1px;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
}

.tt-levels__page-break {
  border-top: 2px dotted #ffffff;
  width: 100%;
  margin: 0.5rem 0;
}

.level-title__description {
  margin: 0.5rem 0 0 0;
  font-size: 0.75rem;
}
