.app-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log-out-outline {
  display: flex;
  align-items: center;
  border: 2px dotted;
  height: 56px;
  width: 56px;
}

.log-out-outline ion-icon {
  margin-left: 13px;
}
